# Tell GitHub/linguist to ignore runtime / output folders
output/* linguist-vendored
runs/* linguist-vendored
pose_out/* linguist-vendored
pose_out_dcsass/* linguist-vendored
pose_out_ucsd_neg/sequence/* linguist-vendored
results/* linguist-vendored
datasets/* linguist-vendored
dataset_previews/* linguist-vendored
manifests/* linguist-vendored
